<head>

    %include templates/parts/head.html

</head>

<body data-spy="scroll" data-target="#toc">

    <!-- Navigation Bar -->
    



    <div class="container">


        <div class="row">
            <div class="col-sm-12">
                <div style="height:20px;"></div>
                <h1>
                    CS 106A Python Course Reader
                </h1>
                <hr />
                <p>
                    These handouts were written by and very kindly shared with us 
                    by <a href="https://cs.stanford.edu/people/nick/" target="_blank">Nick Parlante</a>.
                    Material might be presented in a slightly different order to the syllabus this quarter
                    and they are not required reading, but we hope they are a useful resource. 
                </p>
                <ol>
                    <li>
                        <a href="{{pathToRoot}}intro">Introduction</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}style">Style</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}loops">Loops</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}range"><code>range</code></a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}if">If statements</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}booleans">Booleans</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}functions">Functions</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}variables">Variables</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}math">Math</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}commandline">Command Line</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}interpreter">The Python Interpreter</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}main"><code>main</code></a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}lists">Lists</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}strings">Strings</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}filereading">File Reading</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}print"><code>print</code></a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}dicts">Dicts</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}copying">Copying</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}sorting">Sorting</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}tuples">Tuples</a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}maplambda"><code>map</code> & <code>lambda</code></a>
                    </li>
                    <li>
                        <a href="{{pathToRoot}}comprehensions">List Comprehensions</a>
                    </li>
                </ol>
        </div>

    </div>
    %include templates/parts/footer.html

</body>